#about{
    background-color: var(--second-body-color);
}

#about h2{
    text-align: center;
}

.about__container{
    display: flex;
    flex-direction: column;
}

.about__content{
    display:flex;
    gap:25px;
}

.about__content > div {
    flex:1;
}

/*============ About ============*/
.about__section{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.about__section__text{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about__section__interest p{
    display: flex;
    gap: 10px;
    align-items: center ;
}


/*============ Education ============*/
.education__section h3{
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.education__container {
    position: relative;
    margin: 0 auto;
}

.education__container h3{
    text-align: center;
}
  
.education__container::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: var(--third-color);
    top: 0;
    bottom: 0;
    left: 40%;
    margin-left: -3px;
}
  
.education__item {
    position: relative;
    width: 50%;
}

.left, .right {
    left: 40%; 
}

.left::after,
.right::after{
    left: -9px;
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: var(--third-color);
    top: 25px;
    border-radius: 50%;
    z-index: 1;
}

.education__data {
    padding: 20px 30px;
    position: relative;
    border-radius: 10px;
}

.education__data > div {
    font-weight: 600;
}

.education__data > p {
    font-size: var(--small-font-size);
}

@media screen and (max-width:992px){

    .education__container::after {
        left: 50%;
    }

    .about__content{
        flex-direction: column;
        gap:55px;
    }

    .right {
        left: 50%; 
    }

    .left{
        left: -9px;
        text-align: right;
    }

    .left::after{
        left: 100%;
        text-align: right;
    }

    .right::after{
        left: -9px;
    }
}
   
@media screen and (max-width:768px){

    
}


@media screen and (max-width:576px){
    .education__item {
        width: 100%;
    }

    .education__container::after {
        left: 0;
    }

    .left, .right {
        left: 0; 
        text-align: left;
    }

    .left::after{
        left: -9px;
    }
}