header{
    background: linear-gradient(81deg, rgba(161,58,180,0.05) 0%, rgba(29,189,253,0.05) 50%, rgba(252,69,240,0.05) 100%);
    /* background: url(../src/assets/images/hero-bg.png) no-repeat center center/cover; */
}

header .header__element img {
    position: absolute;
    opacity: 0.4;
}

.element-1{
    top: 15%;
    left: 40%;
    rotate: 45deg;
    animation: shrink 7s ease-in-out infinite;
}

.element-2{
    bottom: 5%;
    left: 2%;
    rotate: 20deg;
    animation: shrink 7s ease-in-out infinite 1s;
}

.element-4{
    bottom: 10%;
    right: 10%;
    rotate: 180deg;
    animation: shrink 7s ease-in-out infinite 3s;
}

@keyframes shrink{
    0%{ transform: scale(0.5) ; }
    50%{ transform: scale(1); }
    100%{ transform: scale(0.5); }
}

@media screen and (max-width:768px){
    .header__element{
        display: none;
    }
}