.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 35px;
}

.navbar__content{
    display: flex;
    gap:10px;
}

.navbar__logo{
    font-size: 18px;
    font-family: var(--accent-font);
    font-weight: bold;
    color: var(--accent-color);
}

.navbar__logo:hover{
    color: var(--primary-text-color);
}

.navbar__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

.navbar__item svg{
    display: none;
    width: 100%;
}

.navbar__item a{
    font-weight: 600;
    transition: .3s;
}

.navbar__item a{
    padding: 10px;
}

.navbar__hamburger{
    display: none;
}

@media screen and (max-width:940px){
    .navbar__hamburger{
        display: block;
        cursor: pointer;
    }
    
    .navbar__content{
        position: fixed;
        right: -100%;
        top: 80px;
        padding:100px 50px;
        flex-direction: column;
        width: 100%;
        height: auto;
        z-index: 100;
        text-align: center;
        transition: .1s;
        background: var(--off-white-body-color);
    }

    .navbar__content.active
    {
        right: 0;
    }
    
    .navbar__item{
        font-size: var(--small-font-size);
    }

    .navbar__item svg{
        display: block;
    }
}