/*============ Variables ============*/
:root{

    /*============ Colors ============*/
    --primary-text-color:#263238;
    --secondary-text-color:#4E4E4E;
    --accent-color:#E09DA0;
    --white-color: #FFFFFF;
    --off-white-body-color: #FBFBFB;
    --darker-off-white-color: #ecf0f1;

    /*============ Font ============*/
    --body-font: 'Poppins', sans-serif;
    --accent-font: 'Lemon Milk', cursive;

    --big-font-size: 45px;
    --mobile-big-font-size: 35px;
    --normal-font-size: 16px;
    --small-font-size: 14px;
    --smaller-font-size: 12px;
    --tiny-font-size: 10px;
}

@font-face {
    font-family: "Lemon Milk";
    src: url("assets/fonts/lemon_milk/LEMONMILK-Regular.otf") format("opentype");
}
@font-face {
    font-family: "Lemon Milk";
    font-weight: bold;
    src: url("assets/fonts/lemon_milk/LEMONMILK-Bold.otf") format("opentype");
}

/*============ Base ============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--off-white-body-color);
    color: var(--secondary-text-color);
}

h1,
h2
{
    color: var(--primary-text-color);
    font-weight: 600;
    font-family: var(--accent-font);
}

h2{
    text-align: center;
}


h3{
    font-style: italic;
    font-size: 28px;
}

h4{
    font-size: 20px;
    font-weight: 600;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--primary-text-color);
}

a:hover{
    color: var(--accent-color);
}

/*============ Layout ============*/
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 35px;
}

.section__content{
    padding: 50px 0;
}
/*============ Buttons ============*/
.button{
    display: inline-block;
    background-color: var(--primary-text-color);
    color: var(--off-white-body-color);
    border-radius: 30px;
    padding: 15px 40px;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}

.button a{
    color: var(--off-white-body-color);
}

.button:hover{
    background-color: var(--accent-color);
}